@font-face {
  font-family: 'PokemonGB';
  src: url('./fonts/PokemonGB.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PokemonHollow';
  src: url('./fonts/PokemonHollow.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 6vw;
  font-family: 'PokemonGB';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'PokemonHollow';
  text-align: center;
  font-size: 4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
